{% extends "navbar.html" %}
{% load math_extras %}


{% block content %}
<div style="margin: auto;width: 50%;text-align: center;">
    <h2 style="margin-left: 1.5%;">Aqui tem o seu carrinho </h2>
    <h6 style="margin-left: 1.5%;" id="precocarrinho" data-precocarrinho="{{carrinho.preco_total}}"><u>Preço do
            carrinho:</u> <b>{{carrinho.preco_total}} €</b></h6>
    <a type="button" class="btn btn-primary" href="{% url 'todos_produtos' %}">Voltar atrás</a>
    {% if carrinho.preco_total > 0 %}
    <a type="button" class="btn btn-success" href="{% url 'pagamento' id_carrinho=carrinho.id_carrinho%}"> Pagamento</a>
    {% endif %}
</div>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin:10px">
    {% for itens in itens %}

    <div class="card" style="width: 18rem;margin-left: 1%;background-color: rgb(248, 236, 245);">
        <div class="card-body" style="text-align: center;">

            <img src="{{itens.imagem_produto}}" style="height: 45%;" class="card-img-top" alt="...">
            <!-- <h6 class="card-title">Id do carrinho: {{itens.id_carrinho}}</span> 
                <h6 class="card-title">Id do produto: {{itens.id_produto}}</h6>  -->
                <h6 class="card-title">Nome do produto: {{itens.nome_produto}}</h6>
                <h6 class="card-title" id="preco{{itens.id_produto}}" data-preco="{{itens.preco_produto}}">Preço
                    unitário: {{itens.preco_produto}} € {% if itens.quantidade > 1 %}
                    ({{itens.preco_produto|multiply:itens.quantidade}}€) {% endif %}</h6>
                <h6 class="card-title">Desconto: {{itens.desconto_produto}} %</h6>
                <h6 class="card-title" data-item-id="{{itens.id_produto}}">
                    <label id="quantidade{{itens.id_produto}}">Quantidade: {{itens.quantidade}}</label>
                    <button class="increment" data-carrinho-id="{{itens.id_carrinho}}"
                        data-item-id="{{itens.id_produto}}">+</button>
                    <button class="decrement" data-carrinho-id="{{itens.id_carrinho}}"
                        data-item-id="{{itens.id_produto}}">-</button>
                </h6>
                <form action="{% url 'remover_produto_carrinho' produto_id=itens.id_produto %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remover">
                </form>

        </div>
    </div>

    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="application/javascript" async>
    $(document).ready(function () {
        $('.increment').unbind('click').click(function () {
            var itemId = $(this).data('item-id');
            var carrinhoId = $(this).data('carrinho-id');
            var preco = $('#preco' + itemId).data('preco');
            $.ajax({
                url: '/increment_quantity/' + carrinhoId + '/' + itemId + '/',
                success: function (data) {
                    document.getElementById("quantidade" + itemId).innerHTML = "Quantidade: " + data.quantity;
                    document.getElementById("precocarrinho").innerHTML = "<u>Preço do carrinho:</u> <b>" + data.total + "</b> €";
                    if (data.quantity > 1)
                        document.getElementById("preco" + itemId).innerHTML = "Preço unitário: " + preco + " € (" + (data.quantity * preco).toFixed(2) + "€)";
                    else
                        document.getElementById("preco" + itemId).innerHTML = "Preço unitário: " + preco + " €";
                }
            });
        });
        $('.decrement').unbind('click').click(function () {
            var itemId = $(this).data('item-id');
            var carrinhoId = $(this).data('carrinho-id');
            var preco = $('#preco' + itemId).data('preco');
            $.ajax({
                url: '/decrement_quantity/' + carrinhoId + '/' + itemId + '/',
                success: function (data) {
                    document.getElementById("quantidade" + itemId).innerHTML = "Quantidade: " + data.quantity;
                    document.getElementById("precocarrinho").innerHTML = "<u>Preço do carrinho:</u> <b>" + data.total + "</b> €";
                    if (data.quantity > 1)
                        document.getElementById("preco" + itemId).innerHTML = "Preço unitário: " + preco + " € (" + (data.quantity * preco).toFixed(2) + "€)";
                    else
                        document.getElementById("preco" + itemId).innerHTML = "Preço unitário: " + preco + " €";
                }
            });
        });
    });
</script>

{% endblock %}