{% extends "navbar.html" %}

{% block content %}

<div style="margin: 1%;">
    <h3 style="text-align: left;">Todos os produtos da categoria <b>{{categoria}}</b>!</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px">
        {% for products in products %}

        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
            <div class="card-body">

                <img src="{{products.imagem}}" style="height:50%;border-radius: 10px;" class="card-img-top"
                    alt="imagem não disponível"
                    onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
                <h5 class="card-title">{{products.nome}}</h5>

                {% if products.desconto == 0 %} <!-- desconto 0 -->
                {% if products.stock > 0 %}<!-- desconto 0 com stock-->
                <h6>{{products.categoria}}</h6>
                <label style="color: green;"><b>✔️ Em stock ({{products.stock}})</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{products.preco_com_desconto|floatformat:2}}€</b></h3>
                <a href="/produto/adicionar_carrinho/{{products.id}}" class="btn btn-success">Comprar</a>
                <a href="/produto/{{products.id}}/" class="btn btn-primary">Visualizar</a>
                {% else %}<!-- desconto 0 sem stock-->
                <h6>{{products.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label><br>
                <a href="/produto/{{products.id}}/" class="btn btn-primary">Visualizar</a>
                {% endif %}

                {% else %}
                {% if products.stock > 0 %} <!-- desconto maior que 0. stock existente -->
                <h6>{{products.categoria}}</h6>
                <label><b style="color: green;">✔️ Em stock ({{products.stock}})</b> <b
                        style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{products.desconto}}%</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{products.preco_com_desconto|floatformat:2}}€</b> <label
                        style="color: #7c7c7c;font-size: medium;"><del>{{products.preco}}€</del></label>
                </h3>
                <a href="/produto/adicionar_carrinho/{{products.id}}" class="btn btn-success">Comprar</a>
                <a href="/produto/{{products.id}}/" class="btn btn-primary">Visualizar</a>
                {% else %}<!-- desconto maior que 0. sem stock -->
                <h6>{{products.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label><br>
                <a href="/produto/{{product.id}}/" class="btn btn-primary">Visualizar</a>
                {% endif %}
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}