{% extends "navbar.html" %}

{% block content %}

<div style="margin: 1%;">
    <h3 style="text-align: left;">Todos os produtos da categoria <b>{{categoria}}</b>!</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px">
        {% for products in products %}

        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: rgb(248, 236, 245);">
            <div class="card-body">

                <img src="{{products.imagem}}" style="height:60%;" class="card-img-top" alt="imagem não disponível"
                onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
                <h6 class="card-title">{{products.nome}}</h6>
                {% if products.desconto == 0 %}
                <h6 class="card-title">Preço unitário: {{products.preco}}€ , Desconto: {{products.desconto}} %, Stock:
                    {{products.stock}}</h6>
                {% else %}
                <h6 class="card-title">Preço unitário: <del style="color: rgb(143, 143, 143);">{{products.preco}}€</del>,<b style="color: rgb(0, 0, 0)"> {{products.preco_com_desconto}} € </b><br> Desconto: {{products.desconto}} %, Stock:
                    {{products.stock}}</h6>
                {% endif %}
                <a href="/produto/adicionar_carrinho/{{products.id}}/{{products.desconto}}/{{products.nome}}/{{products.preco_com_desconto}}/{{products.imagem}}"
                    class="btn btn-success">Comprar</a>
                <a href="/produto/{{products.id}}/" class="btn btn-primary">Visualizar</a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}