{% extends "navbar.html" %}
{% block content %}

<form method="post" enctype="multipart/form-data" style="margin-left: 1%;">
    {% csrf_token %}
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <label for="oldPass" class="form-label">Password atual:</label>
        <input type="password" class="form-control" name="oldPass" placeholder="Password Antiga"  required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <label for="newPass" class="form-label">Nova password:</label>
        <input type="password" class="form-control" name="newPass" placeholder="Nova password"  required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <label for="confNewPass" class="form-label">Confirmar nova password:</label>
        <input type="password" class="form-control" name="confNewPass" placeholder="Confirmar nova password"  required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="submit" class="btn btn-primary" name="Guardar" value="Save">
    </div>
</form>

{% endblock %}