{% extends "navbar.html" %}
{% block content %}

<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);text-align: center;">
    <div style="text-align: center;">
        <img src={{products.imagem}} style="width: 20em;height: 15em;" alt={{products.descricao}}>
    </div>
    <h2>Confirme que pretende desativar o item!</h2>
    {% if request.session.tipouser == "Comercial Tipo 1" %}
    <button style="width:20%;margin: auto;" type="button" class="btn btn-primary" onclick="window.location.href='/homepage_comerciantetipo1'">Voltar</button>
    {% else %}
    <button style="width:20%;margin: auto;" type="button" class="btn btn-primary" onclick="window.location.href='/todos_produtos'">Voltar</button>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name=id value="{{products.id}}"></input>
        <button style="width:20%;margin-top: 1%;margin-bottom: 1%;" class="btn btn-danger" type="submit">Desativar</button>
    </form>
</div>

{% endblock %}