{% extends "index.html" %}
{% block content %}

<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);text-align: center;">
    
    <h2>Confirme que pretende <b><u>desativar</u></b> o utilizador {{nome}}</h2>
    
    <div style="margin: 1%;">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name=id value="{{id_user}}"></input>
            <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
                <input type="submit" class="btn btn-primary" name="Guardar" value="Confirmar">
                {% if tipo_user == 'Cliente' %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn-danger" onclick="window.location.href='/gerir_clientes'">Cancelar</button>
                {% endif %}
                {% if tipo_user == 'Fornecedor' %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn-danger" onclick="window.location.href='/gerir_fornecedores'">Cancelar</button>
                {% endif %}
                {% if tipo_user == 'Comercial Tipo 1' or tipo_user == 'Comercial Tipo 2' %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn-danger" onclick="window.location.href='/gerir_comerciais'">Cancelar</button>
                {% endif %}
                {% if tipo_user == 'Parceiro' %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn-danger" onclick="window.location.href='/gerir_parceiros'">Cancelar</button>
                {% endif %}
            </div> 
        </form>
    </div>

</div>

{% endblock %}