{% extends "navbar.html" %}
{% load math_extras %}
{% block content %}

<div class="card" style="margin: 1%;margin-left: 10%;margin-right: 10%; background-color: #def2f5;border-radius: 10px">
    <div style="text-align: center;">
        <img src={{products.imagem}} style="width: 20em;height: 15em;border-radius: 10px;margin-top: 1%;"
        class="card-img-top"
        alt="{{products.descricao}}"
        onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
    </div>
    <div style="padding: 5%;padding-top: 2%;">
        <div style="text-align: center;">
            <b>{{products.nome}}</b>
        </div>
        <br>
        <b>Categoria :</b> {{products.categoria}}
        <br>
        <b>Descrição :</b> {{products.descricao}}
        <br>
        <b>Cor :</b> {{products.cor}}
        <br>
        <b>Marca :</b> {{products.marca}}
        <br>
        <b>Preço :</b> <del style="color: rgb(143, 143, 143);">{{products.preco}}€</del> <b>{{products.preco|mul:products.desconto|floatformat:2}}€</b>
        <br>
        <b>Desconto :</b> {{products.desconto}} %
        <br>
        <b>Stock :</b> {{products.stock}}
        <br>
        {% if products.belongs_store == True or products.belongs_store == true %}
        <b>O artigo é vendido pela loja!</b>
        {% else %}
        <b>O artigo é vendido por um parceiro externo (Marketplace)!</b>
        {% endif %}
        <div style="padding-top: 2%;">

            {% if request.session %}
            {% if request.session.tipouser == "Administrador" or request.session.tipouser == "Comercial Tipo 1" %}
            <a href="/produto/solicitar_produto/{{products.id}}" class="btn btn-success">Encomendar</a>
            <a href="/produto/editar_produto/{{products.id}}"
                class="btn btn-warning">Editar</a>
                {% if products.active == 1 %}
                <a href="/produto/desativar_produto/{{products.id}}" 
                    class="btn btn-danger">Desativar</a>
                {% else %}
                <a href="/produto/ativar_produto/{{products.id}}" class="btn btn-info">Ativar</a>
                {% endif %}
            {% elif request.session.tipouser == "Cliente" %}
            <a href="/produto/adicionar_carrinho/{{products.id}}" class="btn btn-success">Comprar</a>
            {% endif %}
            {% endif %}
        </div>

    </div>

</div>

{% endblock %}