{% extends "index.html" %}
{% block content %}

<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);text-align: center;">

    <table>
        <tr>
          <th>Nome</th>
          <th>Username</th>
          <th>Email</th>
          <th>Morada</th>
          <th>Ativo</th>
          <th>Ação</th>
        </tr>
        {% for users in users %}
            <tr>
                <td>{{users.nome}}</td>
                <td>{{users.username}}</td>
                <td>{{users.email}}</td>
                <td>{{users.morada}}</td>
                {% if users.active %}
                    <td>Sim</td>
                {% else %}
                    <td>Não</td>
                {% endif %}
                <td>
                    <a type="button" class="btn btn-success" href="{% url 'editarUser' id_user=users.id%}">Editar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'acao_utilizador' id_user=users.id acao='rejeitar' nome=users.nome %}">Desativar</a>
                </td>
            </tr>
        {% endfor %}

</div>

{% endblock %}