{% extends "navbar.html" %}
{% block content %}

<form method="post" enctype="multipart/form-data" style="margin-left: 1%;">
    {% csrf_token %}
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="text" class="form-control" name="nome" placeholder="Nome" value="{{user.nome}}" required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="text" class="form-control" name="username" placeholder="Username" value="{{user.username}}" required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="email" class="form-control" name="email" placeholder="Email" value="{{user.email}}" required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="address" class="form-control" name="morada" placeholder="Morada" value="{{user.morada}}" required>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <label for="FormTipoUser" class="form-label">Tipo de utilizador:</label>
        <select class="form-select" name="tipouser" aria-label="FormTipoUser">
            {% if user.tipouser == "Cliente" %}
            <option value="Cliente" selected>Cliente</option>
            {% endif %}
            {% if user.tipouser == "Comercial Tipo 1" %}
            <option value="Comercial Tipo 1">Comercial Tipo 1</option>
            {% endif %}
            {% if user.tipouser == "Comercial Tipo 2" %}
            <option value="Comercial Tipo 2">Comercial Tipo 2</option>
            {% endif %}
            {% if user.tipouser == "Fornecedor" %}
            <option value="Fornecedor">Fornecedor</option>
            {% endif %}
            {% if user.tipouser == "Administrador" %}
            <option value="Administrador">Administrador</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <label for="userActive" class="form-label">Estado:</label>
        <select value="{{user.active}}" class="form-select" name="active" aria-label="userActive">
            {% if user.active %}
            <option value="True" selected>Sim</option>
            {% else %}
            <option value="False">Não</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group" style="margin-left: 20%;margin-right: 20%; margin-bottom: 0.5%;">
        <input type="submit" class="btn btn-primary" name="Guardar" value="Save">
    </div>

</form>

{% endblock %}