{% extends "navbar.html" %}

{% block content %}
<div style="margin: auto;width: 50%;text-align: center;">
    <h2>Lista de encomendas finalizadas:</h2>

    {% if todos|length == 0 %}
    <h4>Ainda não existe nenhuma encomenda finalizada!</h4>
    <h6>Verifique os seus pedidos ou faça uma nova encomenda!</h6>
    {% else %}
    <table class="table" frame=hsides rules=rows>
        <thead style="background-color: white;text-align: center;">
            <th>Data Pedido:</th>
            <th>Estado:</th>
            <th>Preço Total:</th>
            <th>Detalhes:</th>
        </thead>
        <tbody>
            {% for k in todos %}
            <tr style="border-bottom: 1px solid #000;"></tr>
            <tr style="background-color: white;text-align:center;">
                <td style="text-align: center;">{{k.data}}</td>
                <td style="text-align: center;">{{k.estado}}</td>
                <td style="text-align: center;">{{k.preco_total}}</td>
                <td style="text-align: center;"><a href="/encomenda/{{k.id_pedido}}">Ver detalhes</a></td>
            </tr>
            <tr style="border-bottom: 1px solid #000;"></tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
