{% extends "navbar.html" %}
{% block content %}

<div style="text-align: center;">
    <h4>Encomenda - {{todos.data}} - {{todos.estado}} - {{todos.preco_total}}€</h4>
</div>

{% for encomenda in encomenda %}
<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);">

    <div>
        <div style="text-align: center;">
            <b>{{products.nome}}</b>
        </div>
        <br>
        <b>Nome do produto:</b> {{encomenda.nome_produto}}
        <br>
        <b>Preço do produto:</b> {{encomenda.preco_produto}}
        <br>
        <b>Quantidade encomendada:</b> {{encomenda.quantidade}}
        <br>
        <b><img src={{encomenda.imagem_produto}} style="width: 8em;height: 5em;" alt={{products.descricao}}></b>
    </div>
    
</div>
{% endfor %}

{% endblock %}