{% extends "index.html" %}
{% block content %}
<style>
    .pagination {
      display: inline-block;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    .pagination a.active {
      background-color: #4CAF50;
      color: white;
      border-radius: 5px;
    }
    
    .pagination a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 5px;
    }
    </style>
    <div style="margin: auto;width: 50%;text-align: center; margin-top: 25px; margin-bottom: 50px;">
        <h2 style="margin-left: 1.5%;">Clientes</h2>
        <div style="text-align: center;margin-top: 3%;">
          <form class="form-inline justify-content-center" method="get">
            <input type="text" aria-label="Search" class="form-control mr-sm-2" style="width: 400px;margin: 0;" name="pesquisa" placeholder="Pesquisa">
            <button style="height:100%" class="btn btn-primary my-2 my-sm-0" type="submit">Procurar</button>
          </form>
        </div>
      </div>
<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);text-align: center;">

    <table>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Email</th>
          <th>Morada</th>
          <th>Ativo</th>
          <th>Ação</th>
        </tr>
        {% for users in users %}
            <tr>
                <td>{{users.nome}}</td>
                <td>{{users.tipouser}}</td>
                <td>{{users.email}}</td>
                <td>{{users.morada}}</td>
                {% if users.active %}
                    <td>Sim</td>
                {% else %}
                    <td>Não</td>
                {% endif %}
                <td>
                    {% if request.session.tipouser == "Administrador" or request.session.tipouser == "Comercial Tipo 1" %}
                    <a type="button" class="btn btn-warning" href="{% url 'editarUser' id_user=users.id%}">Editar</a>
                    {% if users.active %}
                    <a type="button" class="btn btn-danger" href="{% url 'desativarUser' id_user=users.id %}">Desativar</a>
                    {% else %}
                    <a type="button" class="btn btn-primary" href="{% url 'ativarUser' id_user=users.id %}">Ativar</a>
                    {% endif %}
                    {% if tipo_user == "Fornecedor" and users.active %}
                    <a type="button" class="btn btn-secondary" href="{% url 'gerir_produtos_fornecedor' id_user=users.id %}">Gerir os Produtos</a>
                    {% endif %}
                    {% if tipo_user == "Parceiro" and users.active %}
                    <a type="button" class="btn btn-secondary" href="{% url 'gerir_produtos_parceiro' id_user=users.id %}">Gerir os Produtos</a>
                    {% endif %}
                    {% endif %}
                    {% if tipo_user == "Cliente" %}
                    <a type="button" class="btn btn-info" href="{% url 'estatisticas_cliente' id_user=users.id acao=2 %}">Detalhes</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if tipo_user == "Cliente" %}
    <div class="pagination" style="display: flex;justify-content:center;">
        {% if users.has_previous %}
            <a href="?page={{ users.previous_page_number }}">&laquo;</a>
        {% endif %}
        
        {% for num in users.paginator.page_range %}
            {% if users.number == num %}
                <a class="active">{{ num }}</a>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        
        {% if users.has_next %}
            <a href="?page={{ users.next_page_number }}">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}