{% extends "navbar.html" %}
{% load math_extras %}
{% block content %}
<div style="margin: auto;width: 100%">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img001.prntscr.com/file/img001/f_BOf5SIS--H4gynQVOang.png" style="height: 15em;"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://img001.prntscr.com/file/img001/NjIzGqV-SsGd6a9QVTAMJQ.png"
                    onclick="location.href='#section_promocao'" style="height: 15em;cursor: pointer;"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
</div>
<div style="margin: 1%;">
    <h3 style="text-align: left;font-family: 'Secular One';">Produtos mais vendidos!</h3>
    <!-- justify-content:center -->
    
        {% if produtos_mais_vendidos|length < 4 %}
        <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;justify-content:left">
        {% else %}
        <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;justify-content:center">
        {% endif %}

        {% for produtos_mais_vendidos in produtos_mais_vendidos %}

        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
            <div class="card-body">
                <img src="{{produtos_mais_vendidos.imagem}}" style="height:50%;border-radius: 10px;cursor: pointer;"
                    onclick="location.href='/produto/{{produtos_mais_vendidos.id}}/';" class="card-img-top imagensitens"
                    alt="imagem não disponível"
                    onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
                <h5 style="cursor: pointer;" class="card-title" id="card-title-nome"
                    onclick="location.href='/produto/{{produtos_mais_vendidos.id}}/';"
                    onmouseover="this.style.color='#FA7F08';" onmouseout="this.style.color='#000000';">
                    {{produtos_mais_vendidos.nome}}</h5>

                {% if produtos_mais_vendidos.desconto == 0 %} <!-- desconto 0 -->
                {% if produtos_mais_vendidos.stock > 0 %}<!-- desconto 0 com stock-->
                <h6>{{produtos_mais_vendidos.categoria}}</h6>
                <label style="color: green;"><b>✔️ Em stock ({{produtos_mais_vendidos.stock}})</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_mais_vendidos.preco|mul:produtos_mais_vendidos.desconto|floatformat:2}}€</b></h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_mais_vendidos.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto 0 sem stock-->
                <h6>{{produtos_mais_vendidos.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label>
                {% endif %}

                {% else %}
                {% if produtos_mais_vendidos.stock > 0 %} <!-- desconto maior que 0. stock existente -->
                <h6>{{produtos_mais_vendidos.categoria}}</h6>
                <label><b style="color: green;">✔️ Em stock ({{produtos_mais_vendidos.stock}})</b> <b
                        style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{produtos_mais_vendidos.desconto}}%</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_mais_vendidos.preco|mul:produtos_mais_vendidos.desconto|floatformat:2}}€</b> <label
                        style="color: #7c7c7c;font-size: medium;"><del>{{produtos_mais_vendidos.preco}}€</del></label>
                </h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_mais_vendidos.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto maior que 0. sem stock -->
                <h6>{{produtos_mais_vendidos.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label>
                {% endif %}
                {% endif %}

            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div style="margin: 1%;">
    <h3 style="text-align: left;font-family: 'Secular One';" id="section_promocao">Produtos em promoção!</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;justify-content:center">
        {% for produtos_promocao in produtos_promocao %}

        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
            <div class="card-body">

                <img src="{{produtos_promocao.imagem}}" style="height:50%;border-radius: 10px;cursor: pointer;"
                    onclick="location.href='/produto/{{produtos_promocao.id}}/';" class="card-img-top imagensitens"
                    alt="imagem não disponível"
                    onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">

                <h5 style="cursor: pointer;" class="card-title" id="card-title-nome"
                    onclick="location.href='/produto/{{produtos_promocao.id}}/';"
                    onmouseover="this.style.color='#FA7F08';" onmouseout="this.style.color='#000000';">
                    {{produtos_promocao.nome}}</h5>

                {% if produtos_promocao.desconto == 0 %} <!-- desconto 0 -->
                {% if produtos_promocao.stock > 0 %}<!-- desconto 0 com stock-->
                <h6>{{produtos_promocao.categoria}}</h6>
                <label style="color: green;"><b>✔️ Em stock ({{produtos_promocao.stock}})</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_promocao.preco|mul:produtos_promocao.desconto|floatformat:2}}€</b></h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_promocao.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto 0 sem stock-->
                <h6>{{produtos_promocao.categoria}}</h6>
                <label style="color: yellow;">⚠️ Indisponível</label>
                <a class="btn btn-warning">Indisponível</a>
                {% endif %}

                {% else %}
                {% if produtos_promocao.stock > 0 %} <!-- desconto maior que 0. stock existente -->
                <h6>{{produtos_promocao.categoria}}</h6>
                <label><b style="color: green;">✔️ Em stock ({{produtos_promocao.stock}})</b> <b
                        style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{produtos_promocao.desconto}}%</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_promocao.preco|mul:produtos_promocao.desconto|floatformat:2}}€</b> <label
                        style="color: #7c7c7c;font-size: medium;"><del>{{produtos_promocao.preco}}€</del></label>
                </h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_promocao.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto maior que 0. sem stock -->
                <h6>{{produtos_promocao.categoria}}</h6>
                <label style="color: yellow;">⚠️ Indisponível</label>
                <a class="btn btn-warning">Indisponível</a>
                {% endif %}
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>

<div style="margin: 1%;">
    <h3 style="text-align: left;font-family: Secular One;">Produtos por categorias!</h3>

    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px">
        {% for categorias in categorias %}

        <div class="card"
            style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px; cursor: pointer;"
            onmouseover="this.style.color='#FA7F08';" onmouseout="this.style.color='#000000';"
            onclick="location.href='/categoria/{{categorias}}/';">

            <div class="card-body"
                style="display: flex; align-items: center; justify-content: center;text-align: center;">
                <h4 class="card-title">{{categorias}}</h4>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% if request.user.id > 0 %}
<div style="margin: 1%;">
    <h3 style="text-align: left;font-family: 'Secular One';">Recomendações para si!</h3>
    
    {% if recomendacoes|length == 0 %}
    <h5>Ainda não temos recomendações para si!</h5>

    {% else %}
    <!-- justify-content:center -->
    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;">
        {% for recomendacoes in recomendacoes %}



        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
            <div class="card-body">
                <img src="{{recomendacoes.imagem}}" style="height:50%;border-radius: 10px;cursor: pointer;"
                    onclick="location.href='/produto/{{recomendacoes.id}}/';" class="card-img-top imagensitens"
                    alt="imagem não disponível"
                    onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
                <h5 style="cursor: pointer;" class="card-title" id="card-title-nome"
                    onclick="location.href='/produto/{{recomendacoes.id}}/';" onmouseover="this.style.color='#FA7F08';"
                    onmouseout="this.style.color='#000000';">{{recomendacoes.nome}}</h5>

                {% if recomendacoes.desconto == 0 %} <!-- desconto 0 -->
                {% if recomendacoes.stock > 0 %}<!-- desconto 0 com stock-->
                <h6>{{recomendacoes.categoria}}</h6>
                <label style="color: green;"><b>✔️ Em stock ({{recomendacoes.stock}})</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{recomendacoes.preco|mul:recomendacoes.desconto|floatformat:2}}€</b></h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{recomendacoes.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto 0 sem stock-->
                <h6>{{recomendacoes.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label>
                {% endif %}

                {% else %}
                {% if recomendacoes.stock > 0 %} <!-- desconto maior que 0. stock existente -->
                <h6>{{recomendacoes.categoria}}</h6>
                <label><b style="color: green;">✔️ Em stock ({{recomendacoes.stock}})</b> <b
                        style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{recomendacoes.desconto}}%</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{recomendacoes.preco|mul:recomendacoes.desconto|floatformat:2}}€</b> <label
                        style="color: #7c7c7c;font-size: medium;"><del>{{recomendacoes.preco}}€</del></label>
                </h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{recomendacoes.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto maior que 0. sem stock -->
                <h6>{{recomendacoes.categoria}}</h6>
                <label style="background-color: #F2CB05;">⚠️ Indisponível</label>
                {% endif %}
                {% endif %}
            </div>
        </div>
        

        {% endfor %}

    </div>
    {% endif %}
</div>

{% else %}
<div>
    
</div>
{% endif %}

<div style="margin: 1%;">
    <h3 style="text-align: left;font-family: 'Secular One';" >Produtos Marketplace!</h3>
    {% if recomendacoes|length < 4 %}
    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;justify-content:left">
    {% else %}
    <div class="row row-cols-1 row-cols-md-4 g-4 ml-0" style="margin:10px;justify-content:center">
    {% endif %}

        {% for produtos_marketplace in produtos_marketplace %}

        <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
            <div class="card-body">

                <img src="{{produtos_marketplace.imagem}}" style="height:50%;border-radius: 10px;cursor: pointer;"
                    onclick="location.href='/produto/{{produtos_marketplace.id}}/';" class="card-img-top imagensitens"
                    alt="imagem não disponível"
                    onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">

                <h5 style="cursor: pointer;" class="card-title" id="card-title-nome"
                    onclick="location.href='/produto/{{produtos_marketplace.id}}/';"
                    onmouseover="this.style.color='#FA7F08';" onmouseout="this.style.color='#000000';">
                    {{produtos_marketplace.nome}}</h5>

                {% if produtos_marketplace.desconto == 0 %} <!-- desconto 0 -->
                {% if produtos_marketplace.stock > 0 %}<!-- desconto 0 com stock-->
                <h6>{{produtos_marketplace.categoria}}</h6>
                <label style="color: green;"><b>✔️ Em stock ({{produtos_marketplace.stock}})</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_marketplace.preco|mul:produtos_marketplace.desconto|floatformat:2}}€</b></h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_marketplace.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto 0 sem stock-->
                <h6>{{produtos_marketplace.categoria}}</h6>
                <label style="color: yellow;">⚠️ Indisponível</label>
                <a class="btn btn-warning">Indisponível</a>
                {% endif %}

                {% else %}
                {% if produtos_marketplace.stock > 0 %} <!-- desconto maior que 0. stock existente -->
                <h6>{{produtos_marketplace.categoria}}</h6>
                <label><b style="color: green;">✔️ Em stock ({{produtos_marketplace.stock}})</b> <b
                        style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{produtos_marketplace.desconto}}%</b></label>
                <h3 class="card-title"><b
                        style="color: #FA7F08;">{{produtos_marketplace.preco|mul:produtos_marketplace.desconto|floatformat:2}}€</b> <label
                        style="color: #7c7c7c;font-size: medium;"><del>{{produtos_marketplace.preco}}€</del></label>
                </h3>
                <div class="text-center">
                    <a href="/produto/adicionar_carrinho/{{produtos_marketplace.id}}" class="btn btn-success">Comprar
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart3" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                    </a>
                </div>
                {% else %}<!-- desconto maior que 0. sem stock -->
                <h6>{{produtos_marketplace.categoria}}</h6>
                <label style="color: yellow;">⚠️ Indisponível</label>
                <a class="btn btn-warning">Indisponível</a>
                {% endif %}
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>


{% endblock %}