{% extends "navbar.html" %}

{% block content %}
<div style="margin: auto;width: 50%;text-align: center;">
<h2 >Lista de pedidos não finalizados:</h2>

{% if todos|length == 0 %}
    <h4>Ainda não realizou nenhum pedido com a sua conta!</h4>
{% else %}
    <table frame=hsides rules=rows style="width: 100%;border: solid 1px black;">
        <thead style="background-color: white;text-align: center;">
            <th>Data Pedido:</th>
            <th>Estado:</th>
            <th>Preço Total:</th>
        </thead>
        <tbody>
            {% for k in todos %}
            <tr style="border-bottom: 1px solid #000;"></tr>
                <tr style="background-color: white;text-align:center;">
                    <td style="text-align: center;">{{k.data}}</td>
                    <td style="text-align: center;">{{k.estado}}</td>
                    <td style="text-align: center;">{{k.preco_total}}</td>
                </tr>
                <tr style="border-bottom: 1px solid #000;"></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}