{% extends "navbar.html" %}
{% load math_extras %}

{% block content %}
<div style="margin: auto;width: 50%;text-align: center; margin-top: 25px; margin-bottom: 50px;">
    <h2 style="margin-left: 1.5%;">Todos os seus produtos:</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-bottom:10px;justify-content:center">
    {% if products|length == 0 %}
        <h3 style="text-align: center; width: max-content;">Não tem produtos disponíveis!</h3>
    {% else %}
    {% for product in products %}
    <div class="card" style="width: 18rem;margin-left: 1.1%;background-color: #def2f5;border-radius: 10px;">
        <div class="card-body">
            <img src="{{product.imagem}}" style="height:50%;border-radius: 10px;" class="card-img-top imagensitens"
                alt="imagem não disponível" onclick="location.href='/produto/{{product.id}}/';"
                onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
                <h5 style="cursor: pointer;" class="card-title" id="card-title-nome"
                onclick="location.href='/produto/{{product.id}}/';"
                onmouseover="this.style.color='#FA7F08';" onmouseout="this.style.color='#000000';">
                {{product.nome}}</h5>

            {% if product.desconto == 0 %} <!-- desconto 0 -->
            {% if product.stock > 0 %}<!-- desconto 0 com stock-->
            <h6>{{product.categoria}}</h6>
            <label style="color: green;"><b>✔️ Em stock ({{product.stock}})</b></label>
            <h3 class="card-title"><b
                    style="color: #FA7F08;">{{product.preco|mul:product.desconto|floatformat:2}}€</b></h3>
            <div class="text-center">
                {% if product.active_parceiro %}
                <a href="/desativar_produto_parceiro/{{product.id}}" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                      </svg></a>
                {% else %}
                <a href="/ativar_produto_parceiro/{{product.id}}"
                    class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </a>
                {% endif %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn btn-warning" onclick="window.location.href='/produto/editar_produto/{{product.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
            </div>
            
        
            {% else %}<!-- desconto 0 sem stock-->
            <h6>{{product.categoria}}</h6>
            <label><b style="color: #F2CB05;">⚠️ Indisponível</b></label>
            <!-- <h3><br><br></h3> -->
            <div>
                <a class="btn-sm btn-warning disabled">Sem stock</a>
            </div>
            <div class="text-center mt-4">
                {% if product.active_parceiro %}
                <a href="/desativar_produto_parceiro/{{product.id}}" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                      </svg></a>
                {% else %}
                <a href="/ativar_produto_parceiro/{{product.id}}"
                    class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </a>
                {% endif %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn btn-warning" onclick="window.location.href='/produto/editar_produto/{{product.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
            </div>
            {% endif %}

            {% else %}
            {% if product.stock > 0 %} <!-- desconto maior que 0. stock existente -->
            <h6>{{product.categoria}}</h6>
            <label><b style="color: green;">✔️ Em stock ({{product.stock}})</b> <b
                    style="background-color: #F2CB05;border-radius: 5px;padding: 3px;">-{{product.desconto}}%</b></label>
            <h3 class="card-title"><b style="color: #FA7F08;">{{product.preco|mul:product.desconto|floatformat:2}}€</b> <label
                    style="color: #7c7c7c;font-size: medium;"><del>{{product.preco}}€</del></label>
            </h3>
            <div class="text-center">
                {% if product.active_parceiro %}
                <a href="/desativar_produto_parceiro/{{product.id}}" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                      </svg></a>
                {% else %}
                <a href="/ativar_produto_parceiro/{{product.id}}"
                    class="btn btn-info">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </a>
                {% endif %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn btn-warning" onclick="window.location.href='/produto/editar_produto/{{product.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
            </div>
            
            {% else %}<!-- desconto maior que 0. sem stock -->
            <h6>{{product.categoria}}</h6>
            <label><b style="color: #F2CB05;">⚠️ Indisponível</b></label>
            <div>
                <a class="btn-sm btn-warning disabled">Sem stock</a>
            </div>
            <div class="text-center mt-4">
                {% if product.active_parceiro %}
                <a href="/desativar_produto_parceiro/{{product.id}}" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                      </svg></a>
                {% else %}
                <a href="/ativar_produto_parceiro/{{product.id}}"
                    class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                      </svg>
                    </a>
                {% endif %}
                <button style="width:20%;margin: auto;" type="button" class="btn btn btn-warning" onclick="window.location.href='/produto/editar_produto/{{product.id}}'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                </button>
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}