{% extends "navbar.html" %}

{% block content %}
<div style="margin: auto;width: 50%;text-align: center;">
    <h2 style="margin-left: 1.5%;">Todos os produtos</h2>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4" style="margin:10px">
    {% for product in products %}
    {% if product.active or request.session.tipouser == "Administrador" %}
    <div class="card" style="width: 18rem;margin-left: 1%;background-color: rgb(248, 236, 245);">
        <div class="card-body">

            <img src="{{product.imagem}}" style="height: 50%;" class="card-img-top" alt="imagem não disponível" onError="this.onerror=null;this.src='https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png';">
            <h6 class="card-title">{{product.nome}}</h6>
            <h6 class="card-title">Preço unitário: {{product.preco}} €, Desconto: {{product.desconto}} %, Stock:
                {{product.stock}}</h6>

            <a href="/produto/adicionar_carrinho/{{product.id}}/{{product.desconto}}/{{product.nome}}/{{product.preco}}/{{product.imagem}}"
                class="btn btn-success">Comprar</a>

            <a href="/produto/{{product.id}}/" class="btn btn-primary">Visualizar</a>

            
            {% if request.session %}
            {% if request.session.tipouser == "Administrador" or request.session.tipouser == "Comercial Tipo 1" %}
            <a href="/produto/editar_produto/{{product.id}}" style="margin-top: 1.7%;"
                class="btn btn-warning">Editar</a>
            {% endif %}
            {% endif %}
            
            {% if request.session %}
            {% if request.session.tipouser == "Administrador" or request.session.tipouser == "Comercial Tipo 1" %}
            {% if product.active == 1 %}
            <a href="/produto/desativar_produto/{{product.id}}" style="margin-top: 1.7%;"
                class="btn btn-danger">Desativar</a>
            {% else %}
            <a href="/produto/ativar_produto/{{product.id}}" style="margin-top: 1.7%;"
                class="btn btn-info">Ativar</a>
            {% endif %}
            {% endif %}
            {% endif %}

        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
