{% extends "navbar.html" %}

{% block content %}
<div style="margin: auto;width: 50%;text-align: center;">
<h2 >Lista de pedidos:</h2>

<table frame=hsides rules=rows style="width: 100%;border: solid 1px black;">
    <thead style="background-color: white;text-align: center;">
        <th>Id do Pedido:</th>
        <th>Id do Cliente:</th>
        <th>Preço Total:</th>
        <th>Estado:</th>
        <th>Data Pedido:</th>
        <th>Ações:</th>
        <th>Detalhes:</th>
    </thead>
    <tbody>

        {% for k in todos %}
        <tr style="border-bottom: 1px solid #000;"></tr>
            <tr style="background-color: white;text-align:center;">
                <td style="text-align: center;">{{k.id_pedido}}</td>
                <td style="text-align: center;">{{k.id_cliente}}</td>
                <td style="text-align: center;">{{k.preco_total}}</td>
                {% if k.estado == "Em Processamento!" %}
                <td style="text-align: center;background-color: rgb(236, 250, 109);">{{k.estado}}</td>
                {% elif k.estado == "Encomenda Enviada!"%}
                <td style="text-align: center;background-color: rgb(142, 255, 127);">{{k.estado}}</td>
                {% elif k.estado == "Encomenda Cancelada!"%}
                <td style="text-align: center;background-color: rgb(255, 127, 127);">{{k.estado}}</td>
                {% endif %}
                <td style="text-align: center;">{{k.data}}</td>
                <td style="text-align: center;">
                    {% if k.estado == "Em Processamento!" %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id_pedido" value="{{k.id_pedido}}"></input>
                        <button style="margin-top: 1%;margin-bottom: 1%;" class="btn btn-success" type="submit">Encomenda Enviada!</button>
                    </form>
                    {% endif %}
                <td style="text-align: center;"><a href="/encomenda/{{k.id_pedido}}">Ver detalhes</a></td>
            </tr>
            <tr style="border-bottom: 1px solid #000;"></tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}