{% extends "index.html" %}
{% block content %}

{% if users|length == 0 %}
    <h2 style="text-align: center; margin-top: 2%;">Não existem utilizadores por confirmar</h2>
{% else %}
<div class="card" style="margin: 1%;margin-left: 15%;margin-right: 15%; background-color: rgb(248, 236, 245);text-align: center;border-radius: 10px;">
    <table>
        <tr>
          <th>Nome</th>
          <th>Username</th>
          <th>Email</th>
          <th>Morada</th>
          <th>Ação</th>
        </tr>
        {% for users in users %}
            <tr>
                <td>{{users.nome}}</td>
                <td>{{users.username}}</td>
                <td>{{users.email}}</td>
                <td>{{users.morada}}</td>
                <td>
                    <a type="button" class="btn btn-success" href="{% url 'acao_utilizador' id_user=users.id acao='aceitar' nome=users.nome %}">Aceitar</a>
                    <a type="button" class="btn btn-danger" href="{% url 'acao_utilizador' id_user=users.id acao='rejeitar' nome=users.nome %}">Rejeitar</a>
                </td>
            </tr>
        {% endfor %}
</div>
{% endif %}
{% endblock %}